

.Home {
  height: 85vh;
  width: 80vh;
}
.Home .textbox {
  margin-top: 70%;
  margin-left: 20%;
  color: black;
  display:block;
  animation: slidein 1s ease-out forwards;
  /*background-color: black;*/
  border-left: solid;
  border-width: 8px;
  text-align: left;
  width: 60%;
  height: 70%;
  font-family: 'Mr De Haviland', cursive;
  font-size: 60px;
  line-height: 0.1;
}

@keyframes slidein{
  0%{ opacity:0; transform:translateY(-25px); }
  100%{ opacity:1; transform:translateY(0px); }
}
