.Home {
  height: 85vh;
  width: 100%;
}
.Home .textbox {
  display: inline-block;
  margin-top: 50%;
  opacity:0;
  display:block;
  animation: slidein 1s ease-out forwards;
  text-align: left;
  background-color: black;
  border-radius: 50px 0px 50px 0px;
  padding: 50px;
}

@keyframes slidein{
  0%{ opacity:0; transform:translateY(-25px); }
  100%{ opacity:1; transform:translateY(0px); }
}
