
html {
  background-color: #000000;

}
body {
  background-color: #000000;
  font-size: 24px;
  text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ons-toolbar {
  color: #4286f4;
  background-color: #4286f4;

}
