.App {
  text-align: center;
  top: 0;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*background-image: linear-gradient( 219.3deg,  rgba(149,0,199,1) 4.7%, rgba(130,0,226,1) 22.9%, rgba(95,0,199,1) 43.2%, rgba(70,0,199,1) 63.9%, rgba(5,0,199,1) 85.1%, rgba(0,95,199,1) 106.8% );
  background-image: linear-gradient(15deg, #5BB7AC 0%, #13547a 100%);*/
  /*background-color: #dbdee3;*/

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
