

.Navbar {
  position: absolute;
  top: 20px;
  border-color: white;
  font-size: 24px;
}

a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

a:active {
  font-weight: bold;
}

a:hover {
}

a:focus {
  font-weight: bold;
  outline: none;
}
