
.Navbar {
  text-align: center;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float:left;
}

li a {
  display: block;
  text-align: center;
}

.top-navbar {
	width: 100%;
  position: fixed;
  z-index: 10;
  left: 0px;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 24px;

}
.top-navbar .icon {
	display: none;
	background-color: transparent;
	border-style: none;
	font-size: 40px;
	color: black;
	padding: 0px 25px 0px 10px;
}

a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: lighter;
}

a:active {
  color: #E05C5D;
}

a:hover {
	text-decoration: underline;
}

.active {
  color: #E05C5D;
  font-weight: bold;
}

a:focus {
  font-weight: bold;
  outline: none;
}

.go-top-btn {
  float: right;
  position: fixed;
  font-size: 60px;
  right: 30px;
  bottom: 0px;
  color: black;
}

@media screen and (max-width: 600px) {

	#nav-items {
		display: none;
	}

	.top-navbar .icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	#nav-items.responsive {
		display: block;
		width: 100%;
		float: right;
    animation: slidein 1s ease-out forwards;

	}

	#nav-items.responsive li {
		width: 100%;
		float: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}


}


@keyframes slidein{
  0%{ opacity:0; transform:translateY(-25px); }
  100%{ opacity:1; transform:translateY(0px); }
}