
.Navbar {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-navbar-hidden {
  position: fixed;
  left: 0px;
  top: 20px;
  font-size: 24px;

  transform: translateY(-50px);
  transition: all 0.5s linear;

}


li {
  float:left;
}

li a {
  display: block;
  text-align: center;
}



.top-navbar {
  position: fixed;
  left: 0px;
  top: 20px;
  font-size: 24px;
}

a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #2b2b2b;
  font-weight: lighter;
}

a:active {
  color: #E05C5D;
}

a:hover {
}

.active {
  color: #E05C5D;
  font-weight: bold;
}

a:focus {
  font-weight: bold;
  outline: none;
}

.go-top-btn {
  float: right;
  position: fixed;
  font-size: 60px;
  right: 30px;
  bottom: 0px;
  color: black;
}
